canvas {
    display: inline;
    outline: 3px dotted darkblue;
    width: 90%;
    height: 1000px;
    max-width: 100vw;
    max-height: 70vh;
    background-color: black;
}

section.wrapper{
    text-align: center;
}

#button{
    width: 25%;
    height: 75px;
    background-color: green;
}

#button p{
    text-align: center;
    padding-top: 20px;
}